# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp
.pnp.js

# Editor y sistema operativo
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Electron
/dist/
/out/
electron-builder.yml
electron-builder.json
electron-builder.json5

# Compilados y cachés
*.tsbuildinfo
*.cache
*.swp

# Git
.git/

